/*Wrapper*/

body{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #f9f9f9;
  color: #111827
}

/*layout for my Dashboard*/

.dashboard{
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 17px;
  margin-bottom: 33px;
}